################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/fp-qr-gen.slnx
/dist/
*.spec.bak
/build/*.exe
/__pycache__/
*.py[cod]
*.pfx
*.p12
.env
/fp-qr-gen.pyproj
/fp-qr-gen.slnx
